cached-property==1.5.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
falcon==2.0.0
falcon-multipart==0.2.0
gunicorn==19.9.0
idna==2.8
marshmallow==3.2.0
mock==3.0.5
peewee==3.11.1
peewee-migrate==1.1.6
psycopg2-binary==2.8.3
redis==3.3.8
requests==2.22.0
six==1.12.0
termcolor==1.1.0
urllib3==1.25.5
